html{
  font-family: sans-serif;
  background-image: url("../src/code.png");
  background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.blurred-bg{
	background-image:url("../src/codeblur.png");
  background-size: cover;
  background-attachment: fixed;
}

.w3-panel{
  margin-left: 50px;
  margin-right: 50px;
}

h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
}

h2{
  font-size: 40px;
}

p{
  font-size: 18px;
}
