html{
  font-family: sans-serif;
  background-image: url("../src/code.png");
  background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  text-shadow: 2px 2px 2px #000;

}

.blurred-bg{
  background-image: url(../src/codeblur.png); 
  background-size: cover;
  background-attachment: fixed;
}


.w3-panel{
  margin-left: 150px;
  margin-right: 150px;
}

.summary{
  display: table;
  padding-bottom: 20px;
}

.summary p{
  display: table-cell;
  vertical-align: middle;

}

.summary img{
  width:400px;
  height:400px;
  padding:2%;
  display: table-cell;
  vertical-align: middle;
}


h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  color:white;
}

h2{
  font-size: 40px;
  text-align: center;
  color:white;
}

h3{
  color:white;
}

p{
  font-size: 18px;
  padding:1%;
  color:white;
  line-height: 50px;
}
