html{
  font-family: sans-serif;
  background-image: url("../src/code.png");
  background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  text-shadow: 2px 2px 2px #000;
}

.blurred-bg{
  
  background-image: url(../src/codeblur.png);
  background-size: cover;
  background-attachment: fixed;
}

.w3-panel{
  position: fixed;
  width: 1000px;
  padding: 50px;
}

.buttons{
  width:150px;
  position: fixed;
  height:150px;
  bottom: 0px;
}

.icons{
  height:50px;
  padding-right: 15px;
  clear: none;
}

.codeicon{
  padding: 15px;
}

#toTop {
  margin-bottom: 20px;
  height: 50px;
  background-color: Transparent;
  color: #ffffff;
  font-size: 20px;
  border: solid #ffffff 2px;
}

h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  color:white;
}

h2{
  font-size: 40px;
  text-align: center;
  color:white;
}

h3{
  color:white;
  text-align: center;
}

p, ul{
  font-size: 18px;
  color:white;
  line-height: 50px;
}
